app/FashionAde.Utils/Service References/OutfitUpdaters/OutfitUpdaterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="OutfitUpdaterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/UpdaterServices/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/UpdaterServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutfitUpdaterService_UpdateFeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFeeds" />
  </wsdl:message>
  <wsdl:message name="IOutfitUpdaterService_MatchOutfitUpdatersForCloset_InputMessage">
    <wsdl:part name="parameters" element="tns:MatchOutfitUpdatersForCloset" />
  </wsdl:message>
  <wsdl:message name="IOutfitUpdaterService_MatchOutfitUpdaters_InputMessage">
    <wsdl:part name="parameters" element="tns:MatchOutfitUpdaters" />
  </wsdl:message>
  <wsdl:message name="IOutfitUpdaterService_MatchAllOutfitUpdaters_InputMessage">
    <wsdl:part name="parameters" element="tns:MatchAllOutfitUpdaters" />
  </wsdl:message>
  <wsdl:portType name="IOutfitUpdaterService">
    <wsdl:operation name="UpdateFeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutfitUpdaterService/UpdateFeeds" message="tns:IOutfitUpdaterService_UpdateFeeds_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatchOutfitUpdatersForCloset">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutfitUpdaterService/MatchOutfitUpdatersForCloset" message="tns:IOutfitUpdaterService_MatchOutfitUpdatersForCloset_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatchOutfitUpdaters">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutfitUpdaterService/MatchOutfitUpdaters" message="tns:IOutfitUpdaterService_MatchOutfitUpdaters_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatchAllOutfitUpdaters">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutfitUpdaterService/MatchAllOutfitUpdaters" message="tns:IOutfitUpdaterService_MatchAllOutfitUpdaters_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOutfitUpdaterService" type="tns:IOutfitUpdaterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateFeeds">
      <soap:operation soapAction="http://tempuri.org/IOutfitUpdaterService/UpdateFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MatchOutfitUpdatersForCloset">
      <soap:operation soapAction="http://tempuri.org/IOutfitUpdaterService/MatchOutfitUpdatersForCloset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MatchOutfitUpdaters">
      <soap:operation soapAction="http://tempuri.org/IOutfitUpdaterService/MatchOutfitUpdaters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MatchAllOutfitUpdaters">
      <soap:operation soapAction="http://tempuri.org/IOutfitUpdaterService/MatchAllOutfitUpdaters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutfitUpdaterService">
    <wsdl:port name="BasicHttpBinding_IOutfitUpdaterService" binding="tns:BasicHttpBinding_IOutfitUpdaterService">
      <soap:address location="http://localhost:9999/UpdaterServices/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>