app/FashionAde.Utils/Service References/OutfitEngineService/OutfitEngineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="OutfitEngineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/Services/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/Services/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/Services/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutfitEngineService_HasValidCombinations_InputMessage">
    <wsdl:part name="parameters" element="tns:HasValidCombinations" />
  </wsdl:message>
  <wsdl:message name="IOutfitEngineService_HasValidCombinations_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasValidCombinationsResponse" />
  </wsdl:message>
  <wsdl:message name="IOutfitEngineService_CreateOutfits_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOutfits" />
  </wsdl:message>
  <wsdl:message name="IOutfitEngineService_AddOutfits_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOutfits" />
  </wsdl:message>
  <wsdl:portType name="IOutfitEngineService">
    <wsdl:operation name="HasValidCombinations">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutfitEngineService/HasValidCombinations" message="tns:IOutfitEngineService_HasValidCombinations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutfitEngineService/HasValidCombinationsResponse" message="tns:IOutfitEngineService_HasValidCombinations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOutfits">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutfitEngineService/CreateOutfits" message="tns:IOutfitEngineService_CreateOutfits_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOutfits">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutfitEngineService/AddOutfits" message="tns:IOutfitEngineService_AddOutfits_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOutfitEngineService" type="tns:IOutfitEngineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HasValidCombinations">
      <soap:operation soapAction="http://tempuri.org/IOutfitEngineService/HasValidCombinations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOutfits">
      <soap:operation soapAction="http://tempuri.org/IOutfitEngineService/CreateOutfits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddOutfits">
      <soap:operation soapAction="http://tempuri.org/IOutfitEngineService/AddOutfits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutfitEngineService">
    <wsdl:port name="BasicHttpBinding_IOutfitEngineService" binding="tns:BasicHttpBinding_IOutfitEngineService">
      <soap:address location="http://localhost:9999/Services/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>